// Place all the styles related to the api/notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notebook-container {
  position: absolute;
  top: 0;

}

.notebook-container .fa-book {
  // display: none;
}

.no-note-zone {
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50%;
  color: gray;
  letter-spacing: 1px;
}

.no-note-zone .fa-file-text-o {
  z-index: 999;
  position: absolute;
  top: 250px;
  left: 0px;
  right: 0px;
  font-size: 40px;
  width: 100%;
text-align: center;
float: left;
display: flex;
align-items: center;
justify-content: center;
width: 80%;
margin: 0 auto;
}


.no-note-zone strong {
  font-size: 30px;
  padding: 3px;
  padding-bottom: 0px;
  color: rgb(96,189,132);
}

.no-note-zone p {
  font-size: 16px;

}
.no-zone-inner{
  margin-bottom: 24%;
  width: 80%;
}

a.active, a.focus {
  outline: none;
}


.category-label {
  width: auto;
  color: gray;
  display: flex;
  align-items: center;
}

.note-controls .fa-book {
  border-right: none;
}
