// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$ever: #2dbe60;
$dever: rgb(31, 174, 82);
$egrey: #6a6a6a;
$cgrey: rgb(105,105,105);
$evergreen: rgb(111,181,54);
$coolblue: rgb(163,217, 228);
$deepred: rgb(85,15,8);
$deepgreen: rgb(54,114,46);
$offwhite: rgb(190,223,140);

body {

}

.branding .logo {
  background-image: image-url('denote4.png');
  background-repeat: no-repeat;
  filter: brightness(75%);
  height: 150px;
  padding: 40px;
  width: 100%;
  color: transparent;
  background-size: 160%;
  background-position: center;
  width: 100%;
  padding-top: 54.166666666667%;
  height: 0;
  margin: 30px;
  // position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  width: 35px;
  padding-bottom: 0px;

  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-size: 200px;
  width: 300px;
    padding: 20px;
    padding-top: 1em;
    height: 100px;
}

body {
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #f3f3f3;
}

input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button {
    background-color: #2dbe60;
    border-radius: 7px;
}
button:hover {
  background: $dever;
}

//Auth Styling


.login-form-box {
  margin: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 10px;
  padding-top: -15px;
  background: white;
  box-shadow: 0px 0px 1px #979797;
  padding-bottom: 40px;
  transition: 2s;
}

.login-form-container {
    // background-image: url('logo.png');
}

.login-input {
  box-sizing: border-box;
  width: 100%;
}

.login-form-container h1 {
  color: $egrey;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 36px;
  margin-bottom: 6px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 200;
  width: 300px;
  height: 50px;
  margin: 0 auto;


  // -webkit-text-stroke-width: 0.5px;
  //   -webkit-text-stroke-color: #f3f3f3;

}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 386px;
  min-height: 356px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 40px;
}
.main-container {
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #f3f3f3;
  border-top: 4px solid #2dbe60;
  overflow: hidden;
}

.login-form-container .login-input {
  width: 100%;
  border: 1px solid #f4f4f4;
  border-radius: 7px;
  height: 40px;
  border-radius: 7px;
  border: solid 1px #d0d0d0;
  // cursor: pointer;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  text-align: left;
  padding-left: 20px;
  margin: 4px;
  font-size: 20px;
}

.login-input::placeholder {
  color: #999999;
}

.login-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  margin-top: -30px;
}

.login-input {
  width: 500px;
}

a.switchLink {
  color: #2dbe60;
  text-decoration: none;

}
a.switchLink:hover {
  color: $dever;
}

.sublogin {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}


.sublogin h4 {
  color: #747474;
line-height: 1.63636364;
font-family: gotham, helvetica, arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.81666667rem;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin: 0;
padding-bottom: 10px;
}

.input {
  transition-duration: 1s;
}

.auth-button {

  width: 100%;
  border-radius: 7px;
  height: 50px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background-color: $ever;
  margin: 4px;
  margin-top: 0px;
  color: white;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #1fae52;

}

.errors {
  list-style-type: none;
  border-radius: 3px;
  text-align: center;
  overflow-y: hidden;
  min-height: 10px;
  display: flex;
  text-align: center;
  transition-duration: 10s;

}

.error-ul li {
  animation: translateDown 2s;
  background: pink;
  font-size: 14px;
  padding: 2px;
  width: 270px !important;
  color: red;
  border: 1px solid red;
  margin: 2px auto;
  margin-left: 15px;
  border-radius: 2px;
  overflow-x: hidden;

}


.errors .error-ul {
  list-style-type: none;
  transition: 10s;
  transition-duration: 10s;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@keyframes translateDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-1%);
	}
	80%{
		transform: translateY(2%);
	}
	95%{
		transform: translateY(-1%);
	}
	100% {
		transform: translateY(0%);
	}
}


.auth-button:focus {
  outline: none;
}

.auth-button:hover {
  background: $dever;
}
//End auth styling b
// body {
// }
