// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth-container {
  // z-index: 99999;
}

.titanic {
  float: none;
}


a {
  color: inherit;

}
a:hover {
  color: inherit;
}

.notebook-show .note-index {
  position: absolute;
  top: 0;
  left: 73px;
}


.notebook-header h1{
  background-color: #393d41;
  height: 101px;
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 21px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  padding-top: 25px;
  text-transform: none;
  font-weight: 200;

}

.notebook-header h4.note-header {
  width: 330px;
}
h1.modal-text {
  text-align: center;
}

.note-index-header h1 {
  font-family: 'Scope One', sans-serif;
}


.highlighted {
  border: 10px solid red;
  background: purple;
}
