// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth-container {
  // z-index: 99999;
}

.titanic {
  float: none;
}


a {
  color: inherit;

}
a:hover {
  color: inherit;
}

.notebook-show .note-index {
  position: absolute;
  top: 0;
  left: 73px;
}


.notebook-header h1{
  background-color: #393d41;
  height: 101px;
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 21px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  padding-top: 25px;
  text-transform: none;
  font-weight: 200;

}

.notebook-header h4.note-header {
  width: 330px;
}
h1.modal-text {
  text-align: center;
}

.note-index-header h1 {
  font-family: 'Scope One', sans-serif;
}


.highlighted {
  border: 10px solid red;
  background: purple;
}


i.category-label {
  width: auto;
  color: gray;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-left: -5px;
}

.note-controls .fa-book {
  border-right: none;
}

.create-notebook {
  border: none;
  outline: none;
  text-align: center;
}


#text-2 {
  top: 25%;
}

.create-dropdown {
  top: 61px;
  z-index: 999;
}


.tag-list-item {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background: #f4f4f4;
  border: 1px solid #cecece;
  border-radius: 5px;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 90%;
  box-shadow: 1px 1px 2px #d9d9d9;
}

.tag-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tag-ul > * {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-ul .tag-list-item {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
}

.tag-list-item p {
  color: gray;
  padding: 2px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-ul li {
  line-height: 2;
  padding: 3px;
  margin: 20px;
  width: auto;
  max-width: 120px;
  display: flex;
  font-size: 14px;

}

.tag-list-item:hover {
  background: #2dbe60;
  color: white;
}

.tag-list-item p:hover {
  color: white;
}

.tag-list-item i {
  color: #cecece;
}
