// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth-container {
  // z-index: 99999;
}

.titanic {
  float: none;
}


a {
  color: inherit;

}
a:hover {
  color: inherit;
}

.notebook-show .note-index {
  position: absolute;
  top: 0;
  left: 73px;
}


.notebook-header h1{
  background-color: #393d41;
  height: 101px;
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 21px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  padding-top: 25px;
  text-transform: none;
  font-weight: 200;

}

.notebook-header h4.note-header {
  width: 330px;
}
h1.modal-text {
  text-align: center;
}

.note-index-header h1 {
  font-family: 'Scope One', sans-serif;
}


.highlighted {
  border: 10px solid red;
  background: purple;
}


i.category-label {
  width: auto;
  color: gray;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-left: -5px;
}

.note-controls .fa-book {
  border-right: none;
}

.create-notebook {
  border: none;
  outline: none;
  text-align: center;
}


#text-2 {
  top: 25%;
}

.create-dropdown {
  top: 61px;
  z-index: 999;
}


.tag-list-item {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background: #f4f4f4;
  border: 1px solid #cecece;
  border-radius: 5px;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 90%;
  box-shadow: 1px 1px 2px #d9d9d9;
}

.tag-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tag-ul > * {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-ul .tag-list-item {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
}

.tag-list-item p {
  color: gray;
  padding: 2px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-list-item:hover p {
  color: white;
}

.tag-ul li {
  line-height: 2;
  padding: 3px;
  margin: 20px;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  display: flex;
  font-size: 14px;

}

.tag-list-item:hover {
  background: #2dbe60;
  color: white;
}

.tag-list-item p:hover {
  color: white;
}

.tag-list-item i {
  color: #cecece;
}
.tag-list-item{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tag-contain {
  display: flex;
  align-items: center;

}

.remove-tag-button {
  color: gray;
  font-family: sans-serif;
  margin-left: 4px;
  cursor: pointer;

}

.remove-tag-button:active{
  color: white;
}

.remove-tag-button:hover {
  color: black;

}


.tag-ul input {
  display: none;
}


.ReactModal__Overlay {
  opacity: 1;
  background: white;
}

.vsc-initialized {
  background: white;
}

.ReactModalPortal {
  background: white;
  opacity: 1;
}

.notebook-modal .create-tag-form {
  display: none;
}

.note-show-tags .tag-ul {
  flex-direction: row;
  height: 50px;
  width: 600px;
  padding: 0px;
  margin: 0px;
  overflow-x: scroll;
}

.note-show-tags {
  display: flex;
  position: absolute;
  top: 32px;
}


.category-label {
  border-right: 0px;
}

.note-show-tags .tag-ul .tag-item {
  margin: 2px;
  overflow: visible;
}

.note-show-tags .tag-ul .tag-list-item{
  padding: 0;
  margin: 0;
  height: 20px;
  font-size: 12px;

}

.tag-index-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

.tag-index-wrapper ul {
  height: 25px !important;
  overflow: visible;
}

.tag-contain {
  width: auto;
  min-width: 20px;
  padding-right: 3px;
  padding-left: 3px;
}

.create-tag-form {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto !important;
}

.tag-index-wrapper form input {
  outline: none;
  color: gray;
  line-height: 2;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75px;
  max-width: 200px;
  padding-left: 4px;
  display: flex;
  flex-direction: row;
  background: #f4f4f4;
  border: 1px solid #cecece;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 18px !important;
  margin-top: 1px;
  margin-right:2px;
  min-width: 20px;
  max-width: 100px;
  box-shadow: 1px 1px 2px #d9d9d9;
  padding-left:10px;

}



.note-index-body {
  margin-top: 10px;
  user-select: none;
  height: 57px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
  display: flex;
  margin-top: 15px;
  align-items: center;
  text-align: left;

}
.note-index-body .ql-toolbar {
  display: none;
    padding-top: 5px;
    margin-top: 3px;
}

.note-index-item h3 {
  line-height: 22px;
  margin-bottom: 5px;
}

.note-index-body .ql-editor {
  padding: 0px;
  overflow: hidden;
  width: 90%;
  padding-left: 3px;
  color: #878787;
}

.note-index-date {
  padding-left: 3px;
  margin-top: -2px;
  font-weight: 200;
}

.note-index-item:hover .ql-editor {
  color: white;
}
.note-index-item {
  box-sizing: border-box;
}

.activeItem {
  border: 3px solid
   #cecece;
   padding: 2px;

}
